body {
    font-family: 'Cabin Sketch', cursive;
    height: 100vh;
    transition: all 1s;
    background-image: url(../assets/pexels-photo-1831234.jpeg);
    background-size: 100% 100%;

    .title {
        text-align: center;
        font-size: calc(60px + (110 - 60) * ((100vw - 320px) / (1680 - 320)));
        margin: 0;
        padding-top: calc(10px + (60 - 10) * ((100vw - 320px) / (1680 - 320)));
        transition: all 0.7s;
        height: 23%;
        color: blue;
    }

    .descriptionContainer {
        color: blue;

        h2 {
            font-size: calc(33px + (60 - 33) * ((100vw - 320px) / (1680 - 320)));
            text-align: center;
        }

        p {
            font-size: calc(16px + (25 - 16) * ((100vw - 320px) / (1680 - 320)));
            line-height: 35px;
            text-align: center;
            margin: calc(25px + (40 - 25) * ((100vw - 320px) / (1680 - 320))) auto;
            width: 100%;
            margin-bottom: 0;
            height: 15vh;

            @include mq-650 {
                margin: 0 auto;
                line-height: calc(30px + (35 - 30) * ((100vw - 320px) / (650 - 320)));
            }
        }
        
        .levelContainer {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 50px auto 0;
            @include button;
        }

        .gameStart {
            display: flex;
            justify-content: center;
            margin-bottom: 100px;

            button {
                font-family: 'Cabin Sketch', cursive;
                font-size: 2.5rem;
                border: none;
                padding: 12px 5%;
                border-radius: 50px;
                box-shadow: 5px 5px 0 blue;
                transition: all 0.5s;
                width: 40%;
                margin-top: 25px;
                background: white;

                &:focus,
                &:active,
                &:hover {
                    transform: translate(2.5px, 2.5px);
                    box-shadow: 2.5px 2.5px blue;
                }
            }
        }
    }
    
    .gameBoard {
        height: 77%;
        position: relative;
        display: none;
        
        .clock {
            text-align: center;
            font-size: 3.3rem;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            margin-bottom: 30px;

            .count,
            .timer {
                margin: 0;
                background: white;
                border-radius: 50px;
                padding: 0.3% 1%;
            }

            button {
                font-family: 'Cabin Sketch', cursive;
                border: none;
                font-size: 3.3rem;
                height: 100%;
                border-radius: 50px;
                padding: 0.3% 1%;
                box-shadow: 5px 5px 0 blue;
                background: white;

                &:focus,
                &:active,
                &:hover {
                    transform: translate(2.5px, 2.5px);
                    box-shadow: 2.5px 2.5px blue;
                }
            }

            .bonusTime {
                opacity: 0;
                transition: all 0.5s;
            }
        }

        .container {
            flex-wrap: wrap;
            height: 75%;
            justify-content: space-between;
            align-items: space-between;
            display: none;
            padding: 1.5%;
            background: rgba(98,162,224,0.5);
    
            .card {
                position: relative;
                perspective: 700px;
                width: 21%;
                height: 21%;
                transition: all 0.5s;
    
                &.matched {
                    transform: scale(0.5);
                    opacity: 0.7;
                    border-radius: 50px;
                }
    
                &.flipped .front {
                        transform: rotateY(0deg);
                    }
    
                &.flipped .back{
                        transform: rotateY(180deg);
                    }
    
                &.level2,
                &.level3 {
                    width: 17%;
                    height: 21%;
                }
    
                .front {
                    position: absolute;
                    backface-visibility: hidden;
                    transition: all 0.5s;
                }
                
                .back {
                    transform: rotateY(-180deg);
                    //move it to .front
                    position: absolute;
                    backface-visibility: hidden;
                    transition: all 0.5s;
                }

                .matchAnimation {
                    width: 30px;
                    height: 30px;
                    position: absolute;
                }
            }
        }

        .result {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(98,162,224,0.5);
            z-index: 2;
            padding: 0;
            width: 100vw;
            height: 50vh;
            text-align: center;

            h2 {
                font-size: 14rem;
                margin: 0 0 30px;
                z-index: 2;
            }

            p {
                font-size: 4rem;
                z-index: 2;
            }

            .playAgain {
                font-family: 'Cabin Sketch', cursive;
                font-size: 2.5rem;
                border: none;
                padding: 12px 5%;
                border-radius: 50px;
                box-shadow: 8px 8px 0 blue;
                transition: all 0.5s;
                background: white;
                margin-bottom: 50px;

                &:focus,
                &:active,
                &:hover {
                    transform: translate(4px, 4px);
                    box-shadow: 4px 4px blue;
                }
            }
        }
    }

    .mickey {
        position: absolute;
        bottom: 0;
        height: 40vh;
        width: 30vw;
    }

    .minnie {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 40vh;
        width: 30vw;
    }

    .alidin {
        position: absolute;
        top: 0;
        height: 50vh;
        width: 40vw;
        opacity: 0;
        transition: opacity 1s;
    }

    .textMatch {
        background: rgba(98,162,224,0.5);
        position: absolute;
        font-size: 2rem;
        top: 15%;
        left: 30%;
        text-align: center;
        padding: 10px;
        opacity: 0;
        color: blue;
        margin: 0;
    }

    .elsa {
        position: absolute;
        top: 0;
        right: 0;
        height: 46vh;
        width:40vw;
        opacity: 0;
        transition: opacity 1s;

        .snowFlake:nth-child(odd) {
            position: absolute;
            width: 20%;
            height: 13%;
            animation: firstSnowFlake 2s ease 1;
            z-index: 1;
        }

        .snowFlake:nth-child(even) {
            position: absolute;
            width: 20%;
            height: 13%;
            animation: secondSnowFlake 2.5s ease 1;
            z-index: 1;
        }
    }
}


@media(max-width: 1024px) {
    html .wrapper {
        width: 65%;
    }
    body {

        .gameBoard .clock {
            
            .timer,
            .count {
                padding: 5px;
            }

            button {
                font-size: 3rem;
                padding: 5px;
            }
        }

        .descriptionContainer .levelContainer {
            width: 100%;
        }
    }
}

@media(max-width: 768px) {
    html .wrapper {
        width: 70%;
    }

    body {

        .title {
            height: 22%;
        }

        .descriptionContainer {

            .wrapper {
                padding: 0;

                p {
                    line-height: 30px;
                    width: 100%;
                }
    
                .levelContainer {
                    flex-direction: column;
                    width: 30%;
                    margin-top: 0;
                }
            }
        }

        .gameBoard {
            height: 70%;
    
            .clock {
                font-size: 2.5rem;
    
                button {
                    font-size: 2.5rem;
                }
            }

            .result h2 {
                font-size: 11rem;
            }
        }

        .textMatch {
            top: 18%;
            font-size: 1.6rem;
            left: 15%;
            padding: 5px;
        }

        .alidin,
        .elsa {
            height: 45vh;
            width: 45vw;
        }
    }
}

@media(max-width: 420px) {
    html .wrapper {
        width: 85%;
    }

    body {

        .gameBoard .clock {
            font-size: 2rem;
    
            button {
                font-size: 2rem;
            }
        }
        
        .gameBoard .result {
            padding: 15px;

            h2 {
                font-size: 8rem;
            }

            p {
                font-size: 3rem;
            }
        }

        .descriptionContainer .wrapper {

            margin-bottom: 100px;

            h2 {
                margin-top: 0;
            }

            .levelContainer {
                width: 55%;
            }
        }

        .alidin,
        .elsa {
            width: 50vw;
        }
    }
}


@keyframes mickeyMouse {
    0% {
        bottom: 35%;
        left: 25%;
    }

    5% {
        bottom: 32.5%;
        left: 22.5%;
    }
    10% {
        bottom: 30%;
        left: 20%;
    }

    15% {
        bottom: 27.5%;
        left: 17.5%;
    }

    20% {
        bottom: 25%;
        left: 15%;
    }
    25% {
        bottom: 22.5%;
        left: 12.5%;
    }
    30% {
        bottom: 20%;
        left: 10%;
    }
    35% {
        left: 12.5%;
    }
    40% {
        left: 15%;
    }
    50% {
        left: 17.5%;
    }
    55% {
        left: 20%;
    }
    60% {
        left: 22.5%;
    }
    65% {
        left: 25%;
    }
    70% {
        bottom: 22.5%;
        left: 27.5%;
    }
    75% {
        bottom: 25%;
        left: 30%;
    }
    80% {
        bottom: 27.5%;
        left: 32.5%;
    }
    85% {
        bottom: 30%;
        left: 35%;
    }
    90% {
        left: 37.5%;
    }
    95% {
        left: 40%;
    }
    100% {
        bottom: 32.5%;
    }
}


@keyframes firstSnowFlake {
    0% {
        top: 35%;
        left: 0;
    }

    20% {
        top: 30%;
        left: -10%;
    }

    40% {
        left: -5%;
    }

    60% {
        left: -10%
    }

    70% {
        left: -5%;
    }

    80% {
        left: -15%;
    }

    100% {
        top: 0;
        left: -10%;
    }
}


@keyframes secondSnowFlake {
    0% {
        top: 35%;
        left: 0;
    }

    20% {
        top: 30%;
        left: 10%;
    }

    40% {
        left: 20%;
    }

    60% {
        left: 15%
    }

    70% {
        left: 20%;
    }

    80% {
        left: 10%;
    }

    100% {
        top: 5%;
        left: 20%;
    }
}