@mixin button () {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2.5rem;
    border: none;
    border-radius: 50px;
    box-shadow: 7px 7px 0 blue;
    transition: all 0.2s;
    background: white;
    z-index: 999;
    width: 15rem;
    cursor: pointer;

    &:focus,
    &:active,
    &:hover {
        transform: translate(3.5px, 3.5px);
        box-shadow: 3.5px 3.5px blue;
    }

    @include mq-1024 {
        width: 14rem;
    }

    @include mq-768 {
        font-size: 2.3rem;
        box-shadow: 6px 6px 0 blue;

        &:focus,
        &:active,
        &:hover {
            transform: translate(3px, 3px);
            box-shadow: 3px 3px blue;
        }
    }

    @include mq-420 {
        font-size: 2rem;
        box-shadow: 5px 5px 0 blue;

        &:focus,
        &:active,
        &:hover {
            transform: translate(2.5px, 2.5px);
            box-shadow: 2.5px 2.5px blue;
        }
    }
}

@mixin mq-1024 {
    @media(max-width: 1024px) {
        @content;
    }
}

@mixin mq-768 {
    @media(max-width: 768px) {
        @content;
    }
}

@mixin mq-560 {
    @media(max-width: 560px) {
        @content;
    }
}

@mixin mq-420 {
    @media(max-width: 420px) {
        @content;
    }
}

@mixin mq-375 {
    @media(max-width: 375px) {
        @content;
    }
}