@mixin button () {
    button {
        font-family: 'Cabin Sketch', cursive;
        font-size: 2.5rem;
        border: none;
        padding: 12px 6%;
        border-radius: 50px;
        margin: 0 0 30px;
        box-shadow: 5px 5px 0 blue;
        transition: all 0.5s;
        background: white;
        z-index: 999;

        &:focus,
        &:active,
        &:hover {
            transform: translate(2.5px, 2.5px);
            box-shadow: 2.5px 2.5px blue;
        }
    }
}

@mixin mq-1024 {
    @media(max-width: 1024px) {
        @content;
    }
}

@mixin mq-768 {
    @media(max-width: 768px) {
        @content;
    }
}

@mixin mq-650 {
    @media(max-width: 650px) {
        @content;
    }
}

@mixin mq-420 {
    @media(max-width: 420px) {
        @content;
    }
}