html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}
html .wrapper {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  width: 50%;
}
html img {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Cabin Sketch", cursive;
  height: 100vh;
  transition: all 1s;
  background-size: 100% 100%;
}
body .title {
  text-align: center;
  font-size: calc(55px + (100 - 55) * ((100vw - 320px) / (1680 - 320)));
  margin: 0;
  padding-top: calc(10px + (60 - 10) * ((100vw - 320px) / (1680 - 320)));
  transition: all 0.7s;
  height: 23%;
}
body .gameBoard {
  height: 77%;
  position: relative;
  display: none;
}
body .gameBoard .clock {
  text-align: center;
  font-size: 3.5rem;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 30px;
}
body .gameBoard .clock button {
  font-family: "Cabin Sketch", cursive;
  border: none;
  font-size: 3.5rem;
  padding: 0;
  height: 100%;
  background: none;
}
body .gameBoard .container {
  flex-wrap: wrap;
  height: 75%;
  justify-content: space-between;
  align-items: space-between;
  display: none;
  padding: 1.5%;
  background: rgba(188, 80, 139, 0.3);
}
body .gameBoard .container .card {
  position: relative;
  perspective: 700px;
  width: 23%;
  height: 23%;
  transition: all 0.5s;
}
body .gameBoard .container .card.matched {
  transform: scale(0.5);
  opacity: 0.7;
  border-radius: 50px;
}
body .gameBoard .container .card.matched .front,
body .gameBoard .container .card.matched .back {
  border-radius: 45px;
}
body .gameBoard .container .card.flipped .front {
  transform: rotateY(0deg);
}
body .gameBoard .container .card.flipped .back {
  transform: rotateY(180deg);
}
body .gameBoard .container .card.level2 {
  width: calc(100% / 5 - 5px);
}
body .gameBoard .container .card.level3 {
  width: calc(100% / 6);
}
body .gameBoard .container .card .front {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.5s;
}
body .gameBoard .container .card .back {
  transform: rotateY(-180deg);
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.5s;
}
body .gameBoard .container .card .matchAnimation {
  width: 30px;
  height: 30px;
  position: absolute;
}
body .descriptionContainer h2 {
  font-size: calc(35px + (45 - 35) * ((100vw - 320px) / (1680 - 320)));
  text-align: center;
}
body .descriptionContainer p {
  font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (1680 - 320)));
  line-height: 40px;
  text-align: center;
  margin: calc(25px + (40 - 25) * ((100vw - 320px) / (1680 - 320))) auto;
  width: calc(275px + (750 - 275) * ((100vw - 320px) / (1680 - 320)));
}
@media (max-width: 650px) {
  body .descriptionContainer p {
    margin: 0 auto;
    line-height: calc(30px + (35 - 30) * ((100vw - 320px) / (650 - 320)));
  }
}
body .descriptionContainer .levelContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}
body .descriptionContainer .levelContainer button {
  font-family: "Cabin Sketch", cursive;
  font-size: 2.5rem;
  border: none;
  padding: 12px 5%;
  border-radius: 50px;
  margin-top: 50px;
  box-shadow: 8px 8px 0 blue;
  transition: all 0.5s;
}
body .descriptionContainer .levelContainer button:focus, body .descriptionContainer .levelContainer button:active, body .descriptionContainer .levelContainer button:hover {
  transform: translate(4px, 4px);
  box-shadow: 4px 4px blue;
}
body .descriptionContainer .gameStart {
  display: flex;
  justify-content: center;
}
body .descriptionContainer .gameStart button {
  font-family: "Cabin Sketch", cursive;
  font-size: 2.5rem;
  border: none;
  padding: 12px 5%;
  border-radius: 50px;
  margin-top: 50px;
  box-shadow: 8px 8px 0 blue;
  transition: all 0.5s;
}
body .descriptionContainer .gameStart button:focus, body .descriptionContainer .gameStart button:active, body .descriptionContainer .gameStart button:hover {
  transform: translate(4px, 4px);
  box-shadow: 4px 4px blue;
}
body .alidin {
  position: absolute;
  top: 0;
  height: 55vh;
  width: 40vw;
  opacity: 0;
  transition: opacity 1s;
}
body .textMatch {
  background: skyblue;
  position: absolute;
  font-size: 2rem;
  top: 15%;
  left: 26%;
  text-align: center;
  padding: 10px;
  opacity: 0;
  color: blue;
  margin: 0;
}
body .elsa {
  position: absolute;
  top: 0;
  right: 0;
  height: 55vh;
  width: 40vw;
  opacity: 0;
  transition: opacity 1s;
}
body .elsa .snowFlake:nth-child(odd) {
  position: absolute;
  width: 20%;
  height: 13%;
  animation: firstSnowFlake 2s ease 1;
  z-index: 1;
}
body .elsa .snowFlake:nth-child(even) {
  position: absolute;
  width: 20%;
  height: 13%;
  animation: secondSnowFlake 2.5s ease 1;
  z-index: 1;
}
body .mickeyMouse {
  position: absolute;
  bottom: 30%;
  left: 20%;
  width: 30%;
  height: 30%;
  animation: mickeyMouse 30s ease infinite;
  z-index: -1;
}
body .result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(188, 80, 139, 0.3);
  z-index: 2;
  padding: 0;
  width: 100vw;
  height: 50vh;
  text-align: center;
}
body .result h2 {
  font-size: 14rem;
  margin: 0 0 30px;
  z-index: 2;
}
body .result p {
  font-size: 4rem;
  z-index: 2;
}
body .result .playAgain button {
  font-family: "Cabin Sketch", cursive;
  font-size: 2.5rem;
  border: none;
  padding: 12px 5%;
  border-radius: 50px;
  margin-top: 50px;
  box-shadow: 8px 8px 0 blue;
  transition: all 0.5s;
}
body .result .playAgain button:focus, body .result .playAgain button:active, body .result .playAgain button:hover {
  transform: translate(4px, 4px);
  box-shadow: 4px 4px blue;
}

@media (max-width: 1024px) {
  html .wrapper {
    width: 60%;
  }

  body .descriptionContainer .levelContainer {
    width: 100%;
  }
}
@media (max-width: 768px) {
  html .wrapper {
    width: 70%;
  }

  body .title {
    height: 22%;
  }
  body .gameBoard {
    height: 70%;
  }
  body .gameBoard .clock {
    font-size: 2.5rem;
  }
  body .gameBoard .clock button {
    font-size: 2.5rem;
  }
  body .descriptionContainer .wrapper {
    padding: 0;
  }
  body .descriptionContainer .wrapper p {
    line-height: 30px;
    width: 100%;
  }
  body .descriptionContainer .wrapper .levelContainer {
    flex-direction: column;
    width: 35%;
  }
  body .descriptionContainer .wrapper .levelContainer button {
    margin-top: 30px;
  }
  body .textMatch {
    top: 18%;
    font-size: 1.6rem;
    left: 15%;
    padding: 5px;
  }
  body .alidin,
body .elsa {
    height: 45vh;
  }
  body .result {
    height: 50vh;
  }
  body .result h2 {
    font-size: 10rem;
  }
}
@media (max-width: 420px) {
  html .wrapper {
    width: 85%;
  }

  body .gameBoard .clock {
    font-size: 2.2rem;
  }
  body .gameBoard .clock button {
    font-size: 2.2rem;
  }
  body .result {
    padding: 15px;
  }
  body .result h2 {
    font-size: 8rem;
  }
  body .result p {
    font-size: 3rem;
  }
}
@keyframes mickeyMouse {
  0% {
    bottom: 35%;
    left: 25%;
  }
  5% {
    bottom: 32.5%;
    left: 22.5%;
  }
  10% {
    bottom: 30%;
    left: 20%;
  }
  15% {
    bottom: 27.5%;
    left: 17.5%;
  }
  20% {
    bottom: 25%;
    left: 15%;
  }
  25% {
    bottom: 22.5%;
    left: 12.5%;
  }
  30% {
    bottom: 20%;
    left: 10%;
  }
  35% {
    left: 12.5%;
  }
  40% {
    left: 15%;
  }
  50% {
    left: 17.5%;
  }
  55% {
    left: 20%;
  }
  60% {
    left: 22.5%;
  }
  65% {
    left: 25%;
  }
  70% {
    bottom: 22.5%;
    left: 27.5%;
  }
  75% {
    bottom: 25%;
    left: 30%;
  }
  80% {
    bottom: 27.5%;
    left: 32.5%;
  }
  85% {
    bottom: 30%;
    left: 35%;
  }
  90% {
    left: 37.5%;
  }
  95% {
    left: 40%;
  }
  100% {
    bottom: 32.5%;
  }
}
@keyframes firstSnowFlake {
  0% {
    top: 15%;
    left: 0;
  }
  20% {
    top: 20%;
    left: -20%;
  }
  40% {
    left: -10%;
  }
  60% {
    left: -20%;
  }
  70% {
    left: -10%;
  }
  80% {
    left: -20%;
  }
  100% {
    top: 15%;
    left: -30%;
  }
}
@keyframes secondSnowFlake {
  0% {
    top: 15%;
    left: 0;
  }
  20% {
    top: 30%;
    left: -10%;
  }
  40% {
    left: -20%;
  }
  60% {
    left: -30%;
  }
  70% {
    left: -20%;
  }
  80% {
    left: -30%;
  }
  100% {
    top: 35%;
    left: -40%;
  }
}