html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Cabin Sketch", cursive;
}
html .wrapper {
  max-width: 800px;
  margin: 0 auto;
  width: 50%;
}
@media (max-width: 1024px) {
  html .wrapper {
    width: 65%;
  }
}
@media (max-width: 768px) {
  html .wrapper {
    width: 75%;
  }
}
@media (max-width: 420px) {
  html .wrapper {
    width: 90%;
  }
}
html img {
  width: 100%;
  height: 100%;
}

main {
  height: 100vh;
  background-image: url(../assets/background.jpeg);
  background-size: cover;
}
main .title {
  text-align: center;
  font-size: calc(80px + (110 - 80) * ((100vw - 1024px) / (1680 - 1024)));
  padding-top: 6rem;
  margin: 0;
  transition: all 1s;
  height: 20%;
  color: blue;
}
@media (max-width: 768px) {
  main .title {
    width: 80%;
    height: 15%;
    padding-top: 3.5rem;
    margin: 0 auto;
    font-size: 6.5rem;
  }
}
@media (max-width: 560px) {
  main .title {
    font-size: 6rem;
  }
}
@media (max-width: 420px) {
  main .title {
    font-size: 5rem;
  }
}
@media (max-width: 375px) {
  main .title {
    font-size: 4.5rem;
  }
}
main .description {
  color: blue;
  height: 80%;
}
main .description h2 {
  font-size: 6.5rem;
  text-align: center;
  margin: 0;
  height: 20%;
  padding-top: 8%;
}
@media (max-width: 1024px) {
  main .description h2 {
    font-size: 5rem;
  }
}
@media (max-width: 768px) {
  main .description h2 {
    padding-top: 9rem;
    font-size: 4.5rem;
  }
}
@media (max-width: 560px) {
  main .description h2 {
    font-size: 4rem;
    padding-top: 8.5rem;
  }
}
@media (max-width: 420px) {
  main .description h2 {
    font-size: 3.5rem;
    padding-top: 7rem;
  }
}
@media (max-width: 375px) {
  main .description h2 {
    font-size: 3rem;
  }
}
main .description p {
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  width: 100%;
  height: 20%;
}
@media (max-width: 1024px) {
  main .description p {
    font-size: 2.1rem;
    line-height: 3.6rem;
  }
}
@media (max-width: 768px) {
  main .description p {
    width: 100%;
    font-size: 2rem;
    line-height: 3.3rem;
    margin: 1.5rem auto 0;
    padding-top: 2rem;
  }
}
@media (max-width: 560px) {
  main .description p {
    font-size: 1.8rem;
    line-height: 2.9rem;
    padding-top: 1rem;
  }
}
@media (max-width: 420px) {
  main .description p {
    padding-top: 0;
    font-size: 1.7rem;
    line-height: 2.7rem;
  }
}
@media (max-width: 375px) {
  main .description p {
    font-size: 1.55rem;
    line-height: 2.55rem;
  }
}
main .description .levelContainer {
  display: flex;
  justify-content: space-between;
  height: 10%;
}
main .description .levelContainer button {
  font-family: "Cabin Sketch", cursive;
  font-size: 2.5rem;
  border: none;
  border-radius: 50px;
  box-shadow: 7px 7px 0 blue;
  transition: all 0.2s;
  background: white;
  z-index: 999;
  width: 15rem;
  cursor: pointer;
}
main .description .levelContainer button:focus, main .description .levelContainer button:active, main .description .levelContainer button:hover {
  transform: translate(3.5px, 3.5px);
  box-shadow: 3.5px 3.5px blue;
}
@media (max-width: 1024px) {
  main .description .levelContainer button {
    width: 14rem;
  }
}
@media (max-width: 768px) {
  main .description .levelContainer button {
    font-size: 2.3rem;
    box-shadow: 6px 6px 0 blue;
  }
  main .description .levelContainer button:focus, main .description .levelContainer button:active, main .description .levelContainer button:hover {
    transform: translate(3px, 3px);
    box-shadow: 3px 3px blue;
  }
}
@media (max-width: 420px) {
  main .description .levelContainer button {
    font-size: 2rem;
    box-shadow: 5px 5px 0 blue;
  }
  main .description .levelContainer button:focus, main .description .levelContainer button:active, main .description .levelContainer button:hover {
    transform: translate(2.5px, 2.5px);
    box-shadow: 2.5px 2.5px blue;
  }
}
@media (max-width: 1024px) {
  main .description .levelContainer {
    width: 100%;
  }
}
@media (max-width: 768px) {
  main .description .levelContainer {
    flex-direction: column;
    width: 14rem;
    margin: 1rem auto 0;
    height: 34%;
  }
  main .description .levelContainer button {
    width: 100%;
    padding: 1rem;
  }
}
@media (max-width: 420px) {
  main .description .levelContainer {
    margin: 0 auto;
    width: 13rem;
  }
  main .description .levelContainer button {
    padding: 7%;
    font-size: 1.8rem;
  }
}
@media (max-width: 375px) {
  main .description .levelContainer {
    width: 11rem;
  }
}
main .description .gameStart {
  display: flex;
  justify-content: center;
  height: 10%;
  margin-top: 10%;
}
@media (max-width: 768px) {
  main .description .gameStart {
    height: 8.5%;
  }
}
main .description .gameStart button {
  font-family: "Cabin Sketch", cursive;
  font-size: 2.5rem;
  border: none;
  border-radius: 50px;
  box-shadow: 7px 7px 0 blue;
  transition: all 0.2s;
  background: white;
  z-index: 999;
  width: 15rem;
  cursor: pointer;
  width: 50%;
}
main .description .gameStart button:focus, main .description .gameStart button:active, main .description .gameStart button:hover {
  transform: translate(3.5px, 3.5px);
  box-shadow: 3.5px 3.5px blue;
}
@media (max-width: 1024px) {
  main .description .gameStart button {
    width: 14rem;
  }
}
@media (max-width: 768px) {
  main .description .gameStart button {
    font-size: 2.3rem;
    box-shadow: 6px 6px 0 blue;
  }
  main .description .gameStart button:focus, main .description .gameStart button:active, main .description .gameStart button:hover {
    transform: translate(3px, 3px);
    box-shadow: 3px 3px blue;
  }
}
@media (max-width: 420px) {
  main .description .gameStart button {
    font-size: 2rem;
    box-shadow: 5px 5px 0 blue;
  }
  main .description .gameStart button:focus, main .description .gameStart button:active, main .description .gameStart button:hover {
    transform: translate(2.5px, 2.5px);
    box-shadow: 2.5px 2.5px blue;
  }
}
@media (max-width: 1024px) {
  main .description .gameStart button {
    width: 45%;
  }
}
@media (max-width: 560px) {
  main .description .gameStart button {
    width: 18rem;
  }
}
@media (max-width: 420px) {
  main .description .gameStart button {
    width: 16rem;
  }
}
@media (max-width: 375px) {
  main .description .gameStart button {
    width: 14rem;
  }
}

.gameBoard {
  height: 80%;
  position: relative;
  display: none;
}
@media (max-width: 768px) {
  .gameBoard {
    padding-top: 5%;
  }
}
.gameBoard .clock {
  text-align: center;
  font-size: 3rem;
  justify-content: space-between;
  align-items: center;
  height: 13%;
}
@media (max-width: 1024px) {
  .gameBoard .clock {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .gameBoard .clock {
    font-size: 2.1rem;
  }
}
@media (max-width: 420px) {
  .gameBoard .clock {
    font-size: 1.85rem;
  }
}
.gameBoard .clock .count,
.gameBoard .clock .timer {
  margin: 0;
  background: white;
  border-radius: 50px;
  padding: 1rem;
  position: relative;
}
@media (max-width: 420px) {
  .gameBoard .clock .count,
.gameBoard .clock .timer {
    padding: 0.8rem;
  }
}
.gameBoard .clock .extra10Seconds {
  position: absolute;
  top: 0;
  left: 20vw;
  background: white;
  padding: 0.3% 1%;
  border-radius: 50px;
}
.gameBoard .clock button {
  font-family: "Cabin Sketch", cursive;
  border: none;
  font-size: 3rem;
  border-radius: 50px;
  padding: 1.2rem;
  box-shadow: 5px 5px 0 blue;
  background: white;
  transition: all 0.2s;
  cursor: pointer;
}
.gameBoard .clock button:focus, .gameBoard .clock button:active, .gameBoard .clock button:hover {
  transform: translate(2.5px, 2.5px);
  box-shadow: 2.5px 2.5px blue;
}
@media (max-width: 1024px) {
  .gameBoard .clock button {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .gameBoard .clock button {
    font-size: 2.1rem;
    box-shadow: 4px 4px 0 blue;
  }
  .gameBoard .clock button:focus, .gameBoard .clock button:active, .gameBoard .clock button:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px blue;
  }
}
@media (max-width: 420px) {
  .gameBoard .clock button {
    padding: 0.8rem;
    font-size: 1.75rem;
  }
}
.gameBoard .clock .bonusTime {
  opacity: 0;
}
.gameBoard .container {
  flex-wrap: wrap;
  height: 67%;
  justify-content: space-between;
  align-items: space-between;
  display: none;
  padding: 1.5%;
  background: rgba(98, 162, 224, 0.5);
}
.gameBoard .container .card {
  position: relative;
  perspective: 700px;
  width: 21%;
  height: 21%;
  z-index: 999;
  background: none;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}
.gameBoard .container .card.matched {
  transform: scale(0.5);
  opacity: 0.7;
  border-radius: 50px;
}
.gameBoard .container .card.flipped .front {
  transform: rotateY(0deg);
}
.gameBoard .container .card.flipped .back {
  transform: rotateY(180deg);
}
.gameBoard .container .card.level2, .gameBoard .container .card.level3 {
  width: 17%;
  height: 21%;
}
.gameBoard .container .card .front,
.gameBoard .container .card .back {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-color: rgba(98, 162, 224, 0.01);
}
.gameBoard .container .card .front {
  transform: rotateY(-180deg);
}
.gameBoard .container .card .matchAnimation {
  width: 30px;
  height: 30px;
  position: absolute;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(98, 162, 224, 0.5);
  z-index: 2;
  width: 100vw;
  height: 80%;
  text-align: center;
}
.result h2 {
  font-size: 14rem;
  margin: 4.5rem 0 0;
  z-index: 2;
}
@media (max-width: 768px) {
  .result h2 {
    font-size: 10rem;
  }
}
@media (max-width: 420px) {
  .result h2 {
    font-size: 7.5rem;
    margin-top: 0;
  }
}
.result p {
  font-size: 4rem;
  z-index: 2;
  margin-top: 0;
  width: 85%;
}
@media (max-width: 768px) {
  .result p {
    font-size: 3rem;
  }
}
@media (max-width: 420px) {
  .result p {
    font-size: 2.3rem;
  }
}
.result p span {
  font-size: 5.5rem;
  color: blue;
}
@media (max-width: 768px) {
  .result p span {
    font-size: 5rem;
  }
}
@media (max-width: 420px) {
  .result p span {
    font-size: 3.5rem;
  }
}
.result .playAgain {
  font-family: "Cabin Sketch", cursive;
  font-size: 2.5rem;
  border: none;
  padding: 1.2rem 5%;
  border-radius: 50px;
  box-shadow: 8px 8px 0 blue;
  transition: all 0.5s;
  background: white;
  margin-bottom: 80px;
  z-index: 999;
  cursor: pointer;
}
.result .playAgain:focus, .result .playAgain:active, .result .playAgain:hover {
  transform: translate(4px, 4px);
  box-shadow: 4px 4px blue;
}
@media (max-width: 420px) {
  .result .playAgain {
    box-shadow: 5px 5px 0 blue;
    font-size: 2rem;
    margin-bottom: 0;
    padding: 1rem 3.5rem;
  }
  .result .playAgain:focus, .result .playAgain:active, .result .playAgain:hover {
    transform: translate(2.5px, 2.5px);
    box-shadow: 2.5px 2.5px blue;
  }
}

.mickey,
.minnie,
.alidin,
.elsa {
  position: absolute;
}

.mickey,
.minnie {
  bottom: 0;
  height: 40vh;
  width: 32vw;
}
@media (max-width: 1024px) {
  .mickey,
.minnie {
    width: 32vw;
    height: 36vh;
  }
}
@media (max-width: 560px) {
  .mickey,
.minnie {
    height: 38vh;
  }
}

.minnie {
  right: 0;
}
@media (max-width: 420px) {
  .minnie {
    width: 30vw;
  }
}

.alidin,
.elsa {
  top: 0;
  height: 48vh;
  width: 36vw;
  opacity: 0;
  transition: opacity 1s;
}
@media (max-width: 1024px) {
  .alidin,
.elsa {
    width: 46vw;
    height: 44vh;
  }
}
@media (max-width: 768px) {
  .alidin,
.elsa {
    height: 45vh;
    width: 50vw;
  }
}
@media (max-width: 420px) {
  .alidin,
.elsa {
    width: 54vw;
    height: 41vh;
  }
}

.elsa {
  right: 0;
  height: 46vh;
  width: 30vw;
}
.elsa .snowFlake {
  position: absolute;
  width: 20%;
  height: 13%;
  animation: firstSnowFlake 2s ease 1;
  z-index: 1;
}
.elsa .snowFlake:nth-child(even) {
  animation: secondSnowFlake 2.5s ease 1;
}
@media (max-width: 1024px) {
  .elsa {
    width: 46vw;
    height: 44vh;
  }
}
@media (max-width: 768px) {
  .elsa {
    height: 42vh;
    width: 50vw;
  }
}
@media (max-width: 420px) {
  .elsa {
    height: 39vh;
    width: 52vw;
  }
}

@keyframes firstSnowFlake {
  0% {
    top: 35%;
    left: 0;
  }
  20% {
    top: 30%;
    left: -10%;
  }
  40% {
    left: -5%;
  }
  60% {
    left: -10%;
  }
  70% {
    left: -5%;
  }
  80% {
    left: -15%;
  }
  100% {
    top: 0;
    left: -10%;
  }
}
@keyframes secondSnowFlake {
  0% {
    top: 35%;
    left: 0;
  }
  20% {
    top: 30%;
    left: 10%;
  }
  40% {
    left: 20%;
  }
  60% {
    left: 15%;
  }
  70% {
    left: 20%;
  }
  80% {
    left: 10%;
  }
  100% {
    top: 5%;
    left: 20%;
  }
}