html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}
html .wrapper {
  max-width: 800px;
  margin: 0 auto;
  width: 50%;
}
@media (max-width: 1024px) {
  html .wrapper {
    width: 65%;
  }
}
@media (max-width: 768px) {
  html .wrapper {
    width: 75%;
  }
}
@media (max-width: 420px) {
  html .wrapper {
    width: 90%;
  }
}
html img {
  width: 100%;
  height: 100%;
}

main {
  font-family: "Cabin Sketch", cursive;
  height: 100vh;
  background-image: url(../assets/background.jpeg);
  background-size: 100% 100%;
}
main .title {
  text-align: center;
  font-size: calc(50px + (110 - 50) * ((100vw - 320px) / (1680 - 320)));
  margin: 0;
  padding-top: calc(15px + (60 - 15) * ((100vw - 320px) / (1680 - 320)));
  transition: all 1s;
  height: 20%;
  color: blue;
}
@media (max-width: 768px) {
  main .title {
    height: 15%;
  }
}
main .description {
  color: blue;
  height: 80%;
}
main .description h2 {
  font-size: calc(35px + (65 - 35) * ((100vw - 320px) / (1680 - 320)));
  text-align: center;
  margin: 0;
  height: 20%;
  padding-top: 5%;
}
@media (max-width: 768px) {
  main .description h2 {
    padding-top: 12%;
  }
}
@media (max-width: 420px) {
  main .description h2 {
    padding-top: 17%;
  }
}
main .description p {
  font-size: calc(16px + (25 - 16) * ((100vw - 320px) / (1680 - 320)));
  line-height: 35px;
  text-align: center;
  width: 100%;
  height: 20%;
}
@media (max-width: 768px) {
  main .description p {
    line-height: 30px;
    width: 100%;
    margin: 0 auto;
    line-height: calc(30px + (35 - 30) * ((100vw - 320px) / (650 - 320)));
  }
}
main .description .levelContainer {
  display: flex;
  justify-content: space-between;
  height: 10%;
}
main .description .levelContainer button {
  cursor: pointer;
  font-family: "Cabin Sketch", cursive;
  font-size: 2.5rem;
  border: none;
  border-radius: 50px;
  box-shadow: 5px 5px 0 blue;
  transition: all 0.5s;
  background: white;
  z-index: 999;
  width: 20%;
}
main .description .levelContainer button:focus, main .description .levelContainer button:active, main .description .levelContainer button:hover {
  transform: translate(2.5px, 2.5px);
  box-shadow: 2.5px 2.5px blue;
}
@media (max-width: 1024px) {
  main .description .levelContainer {
    width: 100%;
  }
}
@media (max-width: 768px) {
  main .description .levelContainer {
    flex-direction: column;
    width: 35%;
    margin: 0 auto;
    height: 30%;
  }
  main .description .levelContainer button {
    width: 100%;
    padding: 5%;
  }
}
main .description .gameStart {
  display: flex;
  justify-content: center;
  height: 10%;
  margin-top: 10%;
}
main .description .gameStart button {
  font-family: "Cabin Sketch", cursive;
  font-size: 2.5rem;
  border: none;
  border-radius: 50px;
  box-shadow: 5px 5px 0 blue;
  transition: all 0.5s;
  width: 50%;
  background: white;
  z-index: 999;
  cursor: pointer;
}
main .description .gameStart button:focus, main .description .gameStart button:active, main .description .gameStart button:hover {
  transform: translate(2.5px, 2.5px);
  box-shadow: 2.5px 2.5px blue;
}
@media (max-width: 420px) {
  main .description .gameStart {
    margin-top: 15%;
  }
}
main .gameBoard {
  height: 80%;
  position: relative;
  display: none;
}
@media (max-width: 768px) {
  main .gameBoard {
    padding-top: 5%;
  }
}
main .gameBoard .clock {
  text-align: center;
  font-size: 3.3rem;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 13%;
}
@media (max-width: 768px) {
  main .gameBoard .clock {
    font-size: 2.5rem;
  }
}
@media (max-width: 420px) {
  main .gameBoard .clock {
    font-size: 2rem;
  }
}
main .gameBoard .clock .count,
main .gameBoard .clock .timer {
  margin: 0;
  background: white;
  border-radius: 50px;
  padding: 0.3% 1%;
  position: relative;
}
@media (max-width: 1024px) {
  main .gameBoard .clock .count,
main .gameBoard .clock .timer {
    padding: 5px;
  }
}
main .gameBoard .clock .extra10Seconds {
  position: absolute;
  top: 0;
  left: 20vw;
  background: white;
  padding: 0.3% 1%;
  border-radius: 50px;
}
main .gameBoard .clock button {
  font-family: "Cabin Sketch", cursive;
  border: none;
  font-size: 3.3rem;
  border-radius: 50px;
  padding: 0.3% 1%;
  box-shadow: 5px 5px 0 blue;
  background: white;
  transition: all 0.5s;
  cursor: pointer;
}
main .gameBoard .clock button:focus, main .gameBoard .clock button:active, main .gameBoard .clock button:hover {
  transform: translate(2.5px, 2.5px);
  box-shadow: 2.5px 2.5px blue;
}
@media (max-width: 1024px) {
  main .gameBoard .clock button {
    font-size: 3rem;
    padding: 5px;
  }
}
@media (max-width: 768px) {
  main .gameBoard .clock button {
    font-size: 2.5rem;
  }
}
@media (max-width: 420px) {
  main .gameBoard .clock button {
    font-size: 2rem;
  }
}
main .gameBoard .clock .bonusTime {
  opacity: 0;
}
main .gameBoard .container {
  flex-wrap: wrap;
  height: 67%;
  justify-content: space-between;
  align-items: space-between;
  display: none;
  padding: 1.5%;
  background: rgba(98, 162, 224, 0.5);
}
main .gameBoard .container .card {
  position: relative;
  perspective: 700px;
  width: 21%;
  height: 21%;
  z-index: 999;
  background: none;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}
main .gameBoard .container .card.matched {
  transform: scale(0.5);
  opacity: 0.7;
  border-radius: 50px;
}
main .gameBoard .container .card.flipped .front {
  transform: rotateY(0deg);
}
main .gameBoard .container .card.flipped .back {
  transform: rotateY(180deg);
}
main .gameBoard .container .card.level2, main .gameBoard .container .card.level3 {
  width: 17%;
  height: 21%;
}
main .gameBoard .container .card .front {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(-180deg);
  transition: all 0.5s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-color: rgba(98, 162, 224, 0.01);
}
main .gameBoard .container .card .back {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-color: rgba(98, 162, 224, 0.01);
}
main .gameBoard .container .card .matchAnimation {
  width: 30px;
  height: 30px;
  position: absolute;
}
main .gameBoard .result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(98, 162, 224, 0.5);
  z-index: 2;
  padding: 0;
  width: 100vw;
  text-align: center;
}
@media (max-width: 420px) {
  main .gameBoard .result {
    padding: 15px;
  }
}
main .gameBoard .result h2 {
  font-size: 14rem;
  margin: 45px 0 0;
  z-index: 2;
}
@media (max-width: 768px) {
  main .gameBoard .result h2 {
    font-size: 11rem;
    margin-bottom: 0;
  }
}
@media (max-width: 420px) {
  main .gameBoard .result h2 {
    font-size: 8rem;
  }
}
main .gameBoard .result p {
  font-size: 4rem;
  z-index: 2;
  margin-top: 0;
}
@media (max-width: 420px) {
  main .gameBoard .result p {
    font-size: 2.5rem;
  }
}
main .gameBoard .result .playAgain {
  font-family: "Cabin Sketch", cursive;
  font-size: 2.5rem;
  border: none;
  padding: 12px 5%;
  border-radius: 50px;
  box-shadow: 8px 8px 0 blue;
  transition: all 0.5s;
  background: white;
  margin-bottom: 80px;
  z-index: 999;
  cursor: pointer;
}
main .gameBoard .result .playAgain:focus, main .gameBoard .result .playAgain:active, main .gameBoard .result .playAgain:hover {
  transform: translate(4px, 4px);
  box-shadow: 4px 4px blue;
}
main .mickey {
  position: absolute;
  bottom: 0;
  height: 40vh;
  width: 35vw;
}
main .minnie {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40vh;
  width: 35vw;
}
main .alidin {
  position: absolute;
  top: 0;
  height: 50vh;
  width: 40vw;
  opacity: 0;
  transition: opacity 1s;
}
@media (max-width: 768px) {
  main .alidin {
    height: 45vh;
    width: 50vw;
  }
}
main .textMatch {
  background: rgba(98, 162, 224, 0.5);
  position: absolute;
  font-size: 2rem;
  top: 15%;
  left: 30%;
  text-align: center;
  padding: 10px;
  opacity: 0;
  margin: 0;
  font-weight: 700;
}
@media (max-width: 768px) {
  main .textMatch {
    top: 85%;
    left: 0;
    width: 100%;
    text-align: center;
  }
}
main .elsa {
  position: absolute;
  top: 0;
  right: 0;
  height: 46vh;
  width: 40vw;
  opacity: 0;
  transition: opacity 1s;
}
main .elsa .snowFlake:nth-child(odd) {
  position: absolute;
  width: 20%;
  height: 13%;
  animation: firstSnowFlake 2s ease 1;
  z-index: 1;
}
main .elsa .snowFlake:nth-child(even) {
  position: absolute;
  width: 20%;
  height: 13%;
  animation: secondSnowFlake 2.5s ease 1;
  z-index: 1;
}
@media (max-width: 768px) {
  main .elsa {
    height: 42vh;
    width: 50vw;
  }
}

@keyframes firstSnowFlake {
  0% {
    top: 35%;
    left: 0;
  }
  20% {
    top: 30%;
    left: -10%;
  }
  40% {
    left: -5%;
  }
  60% {
    left: -10%;
  }
  70% {
    left: -5%;
  }
  80% {
    left: -15%;
  }
  100% {
    top: 0;
    left: -10%;
  }
}
@keyframes secondSnowFlake {
  0% {
    top: 35%;
    left: 0;
  }
  20% {
    top: 30%;
    left: 10%;
  }
  40% {
    left: 20%;
  }
  60% {
    left: 15%;
  }
  70% {
    left: 20%;
  }
  80% {
    left: 10%;
  }
  100% {
    top: 5%;
    left: 20%;
  }
}